html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: proxima-nova,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Oxygen,Fira Sans,Droid Sans,Helvetica Neue;
}

body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10rem 0 40vh;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    color: #0086EA;
}

* {
    box-sizing: border-box;
}

#time {
    font-size: 7vw;
    font-weight: bold;
}

#until {
    font-size: 1vw;
}

#message {
    font-size: 3vw;
}

#bg {
    line-height: 1.15;
    font-size: 16px;
    word-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    color: #142029;
    border: 0 solid #cfd7e3;
    box-sizing: border-box;
    pointer-events: none;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 600px;
    bottom: 0;
    opacity: 1;
    transform: scale(1);
}

#bg.animate {
    transition: all 3s ease-in-out;
}

#bg.hidden {
    opacity: 0;
    transform: scale(3);
}

#bg .angle {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 65%;
    transform-origin: 0;
    border: 0 solid #cfd7e3;
}

#bg .skew-cw {
    transform: skewY(30deg);
}

#bg .skew-ccw {
    transform: skewY(-30deg);
}

#bg .angle:nth-child(1) {
    background: linear-gradient(120deg,#004fa1,#006cc2 120%);
    height: 850px;
    top: 187px;
    transform-origin: 0 50%;
}

#bg .angle:nth-child(2) {
    background: linear-gradient(80deg,#0081da,#004fa1 50%);
    top: 120px;
    height: 380px;
}

#bg .angle:nth-child(3) {
    background: linear-gradient(60deg,rgba(229,242,246,0),#bfe0f2 50%);
    mix-blend-mode: multiply;
    height: 380px;
    top: 60px;
    width: 100%;
}

#bg .angle:nth-child(4) {
    background: linear-gradient(45deg,#004fa1 60%,#0078cf 85%,rgba(0,129,218,0));
    height: 1000px;
    width: 100%;
    transform: skewY(-30deg);
    transform-origin: 100%;
}

#bg .angle:nth-child(5) {
    background: linear-gradient(120deg,#004fa1,#0081da 150%);
    height: 580px;
    top: 225px;
    width: 90%;
    opacity: 0.7;
    transform: skewY(-30deg);
    transform-origin: 100%;
}

#bg .angle:nth-child(6) {
    background: linear-gradient(270deg,#004fa1,rgba(0,129,218,0));
    height: 400px;
    top: 650px;
    width: 50%;
    opacity: 0.8;
    left: auto;
    transform-origin: 100%;
}

.hide {
    display: none;
}

#form {
    width: 100vw;
    max-width: 40rem;
    padding: 1rem;
}

#form h1 {
    text-align: center;
}

#form .option {
    padding-left: 1rem;
    margin: 0.5rem;
}

#form .option.config {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 3rem;
}

#form label, #form .context {
    font-weight: bold;
}

#form input {
    padding: 0.125rem;
    width: 4rem;
    border: none;
    color: #0086EA;
    border-bottom: 1px solid #0086EA44;
}

#form .config input {
    flex: 1;
    max-width: 27.5rem;
}


#form input:focus {
    outline: none;
    border-bottom: 1px solid #0086EA;
}

#form .config .info {
    position: absolute;
    bottom: -1.5rem;
    right: 0;
    font-size: 0.75rem;
}

.submit-shell {
    text-align: center;
    padding: 1rem;
}

#submit {
    background-color: #0079cd;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

#submit:hover {
    background-color: #004fa1;
}

#submit:focus {
    outline: none;
    box-shadow: 0 0 0 0.2em rgb(0 121 205 / 30%);
}

#create {
    text-decoration: none;
    font-weight: bold;
    color: #0079cd;
    font-size: 1.25rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding-right: 1.25rem;
}

#create::after {
    content: '';
    position: absolute;
    border-right: 3px solid #0079cd;
    border-top: 3px solid #0079cd;
    height: 0.75rem;
    width: 0.75rem;
    transform: rotate(45deg);
    top: 0.25rem;
    right: 0;
}
